<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="34c661d3-b24f-4748-aaa3-c0e7ee910b83" Alias="comedyMovies" Level="1">
  <Info>
    <Name>ComedyMovies</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="88bda5ca-0ab9-464e-bb2d-e4f6b0b65d84" SortOrder="0">comedyMoviesItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>