<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="88bda5ca-0ab9-464e-bb2d-e4f6b0b65d84" Alias="comedyMoviesItem" Level="1">
  <Info>
    <Name>ComedyMovieItem</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="88bda5ca-0ab9-464e-bb2d-e4f6b0b65d84" SortOrder="0">comedyMoviesItem</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>fcb4a5bf-4c37-4b3a-bf5e-fed85fe4879b</Key>
      <Name>ComedyMovieContent</Name>
      <Alias>comedyMovieContent</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0766e08c-761b-49c8-b09e-48c2dc36c31e</Key>
      <Name>ComedyMovieTags</Name>
      <Alias>comedyMovieTags</Alias>
      <Definition>b6b73142-b9c1-4bf8-a16d-e1c23320b549</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b08f831a-a998-4264-ba1c-d399fbc4b616</Key>
      <Name>ComedyMovieTitle</Name>
      <Alias>comedyMovieTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bc147d24-8c58-45c4-a2ad-c03ff376e490</Key>
      <Name>HorrorMedia</Name>
      <Alias>media</Alias>
      <Definition>51838291-5b53-4b49-8c51-9494bf6ec002</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>ComedyAdditionalContent</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>ComedyAdditionalContent</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>