<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fb35aa43-08f3-488f-9748-ad25f4cbbf9b" Alias="horrorMovieItem" Level="1">
  <Info>
    <Name>HorrorMovieItem</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="fb35aa43-08f3-488f-9748-ad25f4cbbf9b" SortOrder="0">horrorMovieItem</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>3b1560f4-de71-4270-97b8-7ab2177eac05</Key>
      <Name>HorrorMedia</Name>
      <Alias>horrorMedia</Alias>
      <Definition>51838291-5b53-4b49-8c51-9494bf6ec002</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>HorrorAdditionalContent</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f593589b-6273-4e41-b5d0-e72ace164c21</Key>
      <Name>HorrorMovieContent</Name>
      <Alias>horrorMovieContent</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>HorrorContent</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ebc0a8b6-038f-485e-b928-e15f69951089</Key>
      <Name>HorrorMovieTags</Name>
      <Alias>horrorMovieTags</Alias>
      <Definition>b6b73142-b9c1-4bf8-a16d-e1c23320b549</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>HorrorContent</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>28125f4f-8e1b-49d1-a5b2-c1c23a598458</Key>
      <Name>HorrorMovieTitle</Name>
      <Alias>horrorMovieTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>HorrorContent</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>HorrorContent</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>HorrorAdditionalContent</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>