<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ff3097b7-083d-4562-ad0b-92871d7ea827" Alias="horrorMovies" Level="1">
  <Info>
    <Name>HorrorMovies</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="fb35aa43-08f3-488f-9748-ad25f4cbbf9b" SortOrder="0">horrorMovieItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>