<?xml version="1.0" encoding="utf-8"?>
<DataType Key="51838291-5b53-4b49-8c51-9494bf6ec002" Alias="NcMedia" Level="1">
  <Info>
    <Name>NcMedia</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "nestedContent",
      "ncTabAlias": "ImageContent",
      "nameTemplate": ""
    },
    {
      "ncAlias": "nCType2",
      "ncTabAlias": "MovieContent",
      "nameTemplate": ""
    },
    {
      "ncAlias": "nCLink",
      "ncTabAlias": "LinkContent",
      "nameTemplate": ""
    }
  ],
  "MinItems": 1,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>